
@{
    ViewBag.Title = "IGR";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div id="login-container">
    <!-- Login Header -->
    <h1 class="h2 text-light text-center push-top-bottom animation-pullDown">
        <i class="fa fa-cube text-light-op"></i> <strong>AppUI</strong>
    </h1>
    <!-- END Login Header -->
    <!-- Login Block -->
    <div class="block animation-fadeInQuick">
        <!-- Login Title -->
        <div class="block-title">
            <h2>IGR Login</h2>
        </div>
        <!-- END Login Title -->
        <!-- Login Form -->
        <form id="form-login" action="/IGR/login" method="post" class="form-horizontal">
            <div class="form-group">
                <label for="tin" class="col-xs-12">Tin Number</label>
                <div class="col-xs-12">
                    <input type="text" id="login-email" name="tin" class="form-control" placeholder="Your Tin....">
                </div>
            </div>
            @*<div class="form-group">
                    <label for="login-password" class="col-xs-12">Password</label>
                    <div class="col-xs-12">
                        <input type="password" id="login-password" name="login-password" class="form-control" placeholder="Your password..">
                    </div>
                </div>*@
            <div class="form-group form-actions">
                <div class="col-xs-8">
                        <label class="csscheckbox csscheckbox-primary">
                            @*<input type="checkbox" id="login-remember-me" name="login-remember-me"><span></span> Remember Me?*@
                        </label>
                    </div>
                <div class="col-xs-4 text-right">
                    <button type="submit" class="btn btn-effect-ripple btn-sm btn-success">Log In</button>
                </div>
            </div>
        </form>
        <!-- END Login Form -->
        <!-- Social Login -->
        <hr>


        @*<div class="push text-center">or Login with</div>
            <div class="row push">
                <div class="col-xs-6">
                    <a href="javascript:void(0)" class="btn btn-effect-ripple btn-sm btn-info btn-block"><i class="fa fa-facebook"></i> Facebook</a>
                </div>
                <div class="col-xs-6">
                    <a href="javascript:void(0)" class="btn btn-effect-ripple btn-sm btn-primary btn-block"><i class="fa fa-twitter"></i> Twitter</a>
                </div>
            </div>*@


        <!-- END Social Login -->
    </div>
    <!-- END Login Block -->

